@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 170px;
}

.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 20px;

  padding-left: 20px;

  color: white;
  font-size: 20px;

  background-color: lightblue;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;

  color: white;

  background-color: lightblue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.post {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;

  width: 100%;

  border-radius: 6px;
}

.post-container {
  display: flex;
  justify-content: space-between;
}

.post_button {
  border: none;
  background-color: white;

  font-size: 24px;
  font-weight: bold;
  color: lightblue;

  cursor: pointer;
}

.post_button:hover {
  background-color: lightblue;
  color: white;
  border-radius: 6px;

  transition: background-color 0.3s, color 0.3s;

  margin-bottom: 6px;
}

.post_text {
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
  color: lightblue;
}

.post_textarea {
  padding: 20px;

  font-size: 18px;

  resize: none;
  border: 4px solid lightblue;
  border-radius: 6px;
  outline: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user_link {
  width: 120px;

  margin-right: 10px;
  padding: 2px;

  border: 4px solid white;
  border-radius: 10px;

  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.user_link:hover {
  color: lightblue;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

.main {
  height: 100vh;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.news-board {
  height: 100%;
  width: 100vh;
}

.news-board_header {
  display: flex;
  justify-content: space-between;
}

.news-board_title {
  font-size: 30px;

  text-align: end;
  color: lightblue;
}

.news-list {
  padding: 0;

  list-style: none;
}

.news-list_item {
  display: flex;
  justify-content: space-between;

  width: 100vh;

  padding: 20px;
  margin-bottom: 10px;

  border: 4px solid lightblue;
  border-radius: 6px;
}

.news-list_item:hover {
  background-color: lightblue;
  color: white;

  transition: background-color 0.2s, color 0.2s;
}

.news-list_text-container {
  display: flex;
  flex-direction: column;
}

.news-list_text {

}

.news-list_link {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.news-list_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.profile-list {
  height: 100%;
  width: 300px;
  padding: 20px 0 0;

  list-style: none;

  background-color: lightblue;
  border-radius: 6px;
}

.profile-list_text {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.profile-list_item {
  display: flex;
  justify-content: center;

  margin-bottom: 26px;
}

.profile-list_image {
  height: 170px;
  width: 170px;

  border-radius: 20px;
  border: 4px solid white;
}

.profile-list_title {
  text-align: center;
  font-size: 28px;
  color: white;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 100px;

  color: lightblue;
}

.title_icon {
  text-align: center;
}

.form {
  width: 300px;

  display: flex;
  flex-direction: column;
}

.form_input {
  margin-bottom: 15px;
  padding: 10px;

  border: none;
  outline: none;

  font-size: 16px;

  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form_button {
  margin-bottom: 20px;
  padding: 6px;
  background-color: lightblue;

  font-size: 18px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_button:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.form_paragraph {
  text-align: center;
  font-weight: lighter;
  color: grey;

  margin-bottom: 15px;
}

.form_link {
  text-decoration: none;

  color: lightblue;
}

.form_label {
  color: grey;
  font-weight: lighter;
}

.form_notice {
  padding: 5px;

  text-align: center;

  border-radius: 4px;
}

.form_notice-warning {
  border: 2px solid lightcoral;
}

.form_notice-success {
  border: 2px solid lightgreen;
}
